<!doctype html>
<html lang="de">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Würfelspiel</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Würfelspiel</h1>
            <img src={{ url }} id="cube">
            <div class="col text-center">
                <button type="button"class="btn-lg btn-info" onClick="window.location.reload();">Würfeln</button>
            </div>
        </div>
        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>